/* layout */


.front_body{}
.page_wrap{display:flex;flex-direction: column;min-height:calc(var(--vh) * 100); min-width:280px;}

.header_section{background:#111; position:sticky;top:0;left:0;width:100%; z-index: 20;}
.header_inner{display:flex; justify-content: center; align-items: center; height:70px; max-width:1200px; margin:0 auto; padding:0 30px;}
.header_logo_cols{}
.header_toplogo{display:inline-flex; vertical-align: top;}
.toplogo_link{display:inline-flex; align-items: flex-end;}
.toplogo_img{max-width:118px;display:flex; align-items: flex-start;}
.toplogo_img > img{vertical-align: top;}
.toplogo_else_text{display:inline-block; padding-left:17px; position:relative; line-height:1; top:-4px; font-weight: 600; font-size: 18px; color:#fff;}
.toplogo_else_text:before{display:block;content:''; width:1px; height:18px; background: rgba(255, 255, 255, 0.1); position:absolute;top:50%;left:8px; transform: translateY(-50%);}


.header_desktop_menu_cols{flex:1;display:flex; justify-content: flex-end; gap:40px;}
.desktop_nav_wrap{}
.desktop_nav_list{display:flex; gap:40px; align-items: center;}
.desktop_nav_list > li{}
.desktop_nav_list > li:last-of-type{}
.destop_util_item,
.desktop_nav_item{display:inline-block; font-size:16px; color:#fff; line-height:1;}
.destop_util_item{opacity: .6;}
.desktop_nav_item:hover{opacity: .7;}
.desktop_util_wrap{}
.desktop_util_list{display:flex; gap:40px; align-items: center;}
.desktop_util_list > li{}
.desktop_util_list > li:last-of-type{}
.btn_head_link{display: none; width:24px; height:24px; position:absolute;top:50%; transform: translateY(-50%); background-position: 50% 50%; background-size: 100% auto; background-repeat: no-repeat; }
.btn_head_link.shape_back{left:20px; background-image:url("../images/ico_topback.png");}
.btn_head_link.shape_menu{right:20px; background-image:url("../images/ico_total_menu.png");}

.mobile_panel_zone{display:none;position:fixed;top:0;right:0;width:100%;height:100%;z-index:50;}
.mobile_panel_zone.active{display:block;}
.mobile_panel_zone.active.motion .mobile_panel_wrap{right:0;}
.mobile_panel_zone.active.motion .mobile_panel_dim{opacity:0.6;}
.mobile_panel_zone.active.motion .btn_mbmenuclose{opacity:1;}
.mobile_panel_dim{position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0;transition: .5s;}
.mobile_panel_wrap{width:262px;background:#fff;position:fixed;top:0;right:-262px;height:100%; transition: .5s;display:flex;flex-direction: column;z-index:5;padding:55px 20px; box-sizing: border-box;}
.mbutil_row{background:#fff;border-top:1px solid #DBDBDB; border-bottom:1px solid #DBDBDB; padding:15px 10px;}
.mbmenu_vlist{text-align:left;background:#fff;margin-top:50px;}
.mbmenu_vlist > li{margin-bottom:12px;}
.mbmenu_vlist > li:last-of-type{margin-bottom:0;}
.mbmenu_vlist > li.active{}
.mbmenu_one:hover,
.mbmenu_vlist > li.active .mbmenu_one{color:#705ebf;}
.mbmenu_one{display:block;color:#000000;font-size:16px;padding:4px 24px 4px 0;line-height:1.3;font-weight:700; font-family: 'OneShinhan'; position:relative;}
.mbmenu_one:after{
    display:block;content:'';width:24px;height:24px;position:absolute;top:50%;right:0;transform: translateY(-50%);background:url("../images/ico_arrowRightBlack.svg") no-repeat 50% 50%/100% auto;
}
.btn_mbmenuclose{display:block;opacity:0; transition:.5s; width:24px;height:24px;z-index:10;background:url("../images/ico_total_close.svg") no-repeat 50% 50%/100% auto;position:absolute;top:16px;right:10px;}



.middle_section{flex:1; position:relative; overflow-x:hidden;}
.middle_contents{max-width:1200px;padding:0 30px; margin:0 auto;}


.footer_section{background:#111111;}
.footer_inner{max-width:1200px; margin:0 auto; padding:20px 30px 40px;}
.footer_main_row{display:flex; justify-content: space-between; gap:30px; align-items: center;}
.footer_logo{display:inline-block;max-width:101px;}
.footer_logo > img{vertical-align: top;}
.footer_info_cols{}
.footer_drop_list{display:flex;gap:8px;}
.footer_drop_list > li{}
.drop_box_item{display:block; position:relative;}
.drop_box_item.active{}
.drop_box_item.active .drop_event_target .ico{transform: rotate(180deg);}
.drop_box_item.active .drop_option_layer{display:block;}
.drop_event_target{display:flex; align-items: center; gap:8px; border-radius: 100px; min-height:40px; min-width:200px; box-sizing: border-box; padding:11px 15px 10px 20px; background: #222222;}
.drop_event_target .text_node{color:#D9D9D9; font-size:14px; flex:1; text-align: left;}
.drop_event_target .ico{flex:0 0 16px; display:inline-block; width:16px; height:16px; background:url("../images/ico_bottom_arrow.png") no-repeat 0 0/100% auto;}
.drop_option_layer{display:none; position:absolute; bottom:50px; left:0; background: #222222; border-radius: 10px; width:100%; padding:10px 0;}
.drop_option_list{}
.drop_option_list > li{}
.drop_option{display:block; font-size:14px; color:#D9D9D9; padding:10px 20px;}
.drop_option:hover{background:rgba(0,0,0,.5);}
.footer_copy_row{margin-top:33px; display:flex; justify-content: space-between; gap:20px; align-items: center;}
.footer_copy_main_cols{}
.footer_link_list{display:flex; flex-wrap:wrap; gap:5px 17px;}
.footer_copy_list > li,
.footer_link_list > li{position:relative;}
.footer_copy_list > li:after,
.footer_link_list > li:after{display:block; content:''; width:1px; height:12px; position:absolute; top:50%; right:-9px; transform: translateY(-50%); background-color:rgba(255,255,255,.1);}
.footer_copy_list > li:last-of-type:after,
.footer_link_list > li:last-of-type:after{display:none;}
.footer_link{display:inline-block; color:#949494; font-size:14px;}
.footer_link.highlight{font-weight:600;}
.footer_copy_sub_cols{}
.footer_article_wrap{margin-top:11px;}
.footer_article_target{display:none;}
.footer_article_target .text_node{display:inline-block; font-size:14px; color:#949494;}
.footer_article_target .ico{display:inline-block; width:12px; height:12px; background:url("../images/ico_menu_toggle.png") no-repeat 0 0/100% auto;}
.footer_article_content{}
.footer_copy_list{display:flex; flex-wrap:wrap; gap:5px 17px;}
.footer_copy_list > li{}
.footer_copy_list > li:after{}
.footer_copy_list > li:last-of-type{}
.footer_copy_list > li:last-of-type:after{}
.footer_copy{display:inline-block; color:#949494; font-size:14px;}
.btn_topgo{width:46px; height:46px; border: 1px solid rgba(255, 255, 255, 0.1); transform:translateY(4px); border-radius: 100%; box-sizing: border-box; display:inline-flex; justify-content: center; align-items: center;}
.btn_topgo:after{display:block; content:''; width:24px; height:24px; background:url("../images/ico_topgo.png") no-repeat 0 0/100% auto;}

@media (max-width:767px){
  .header_inner{height:56px; padding:0 56px;}
  .toplogo_link{align-items: center;}
  .toplogo_img{max-width:96px;}
  .toplogo_else_text{top:0; font-size:14px;}
  .header_desktop_menu_cols{display:none;}
  .btn_head_link{display:inline-block;}
  .middle_contents{padding:0 20px;}
  .footer_main_row{display:none;}
  .footer_inner{padding:24px 20px;}
  .footer_copy_row{margin-top:0; align-items: flex-end;}
  .footer_link_list{margin-right:-66px;}
  .footer_article_content{margin-top:10px; display:none;}
  .footer_article_content.mb_active{display:block;}
  .footer_article_target{display:inline-flex; align-items: center; gap:3px;}
  .footer_article_target.active .ico{transform: rotate(-180deg);}
  .footer_article_target .text_node{}
  .footer_article_wrap{margin-top:24px;}
  .footer_copy_list{flex-direction: column;}
  .footer_copy_list > li:after{display:none;}
}
/* // layout */

/* key visual */
.key_visual_wrap{position:relative; display:flex; justify-content: center; align-items: center; min-height:410px; box-sizing: border-box;}
.key_bg{position:absolute;top:0;left:0;width:100%;height:100%;background-position:50% 50%;background-repeat:no-repeat;background-size:cover;}
.key_bg.pc{display:block;}
.key_bg.mb{display:none;}
.key_vcopy_wrap{padding:24px; text-align: center; position:relative;}
.key_vcopy_main,
.key_vcopy_sub{color:#fff; line-height:1.3;}
.key_vcopy_main{font-size:42px; font-weight:700;}
.key_vcopy_sub{font-size:18px; margin-top:10px;}
@media (max-width:767px){
  .key_visual_wrap{min-height:260px;}
  .key_bg.pc{display:none;}
  .key_bg.mb{display:block;}
  .key_vcopy_main{font-size:28px;}
  .key_vcopy_sub{font-size:16px;}
}
/* // key visual */


/* list */
.card_item_wrap{}
.card_item_list{display:flex;flex-wrap:wrap;gap:60px 24px; margin-right:-24px;}
.card_item_list > li{flex:0 0 calc(33.333333333% - 24px); min-width:0; box-sizing: border-box;}
.card_item_list > li.parking{flex:0 0 100%; padding:60px; text-align: center;}
.card_item{display:block;}
.card_item .img_row{height:216px;border-radius: 12px; box-sizing: border-box; position:relative; overflow: hidden;}
.card_item .img_row .flag_wrap{z-index:1;}
.card_item .img_row > img.card_thumb_img{position:absolute;top:0;left:0;width:100%;height:100%;object-fit: cover; object-position: 50% 50%;}

.card_item .spec_row{margin-top:16px;}
.card_main_spec,
.card_sub_spec{display: -webkit-box; 
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;}
.card_main_spec{color:#151515; font-size:20px; font-weight:700;}
.card_sub_spec{margin-top:10px; font-size:16px; color:#555555;}

.parking_info_wrap{}
.parking_info_wrap .btn_bottom_wrap{margin-top:32px;}
.parking_copy_wrap{}
.parking_main_copy{font-size:24px; color:#151515; font-weight:700;}
.parking_sub_copy{font-size:16px; color:#555; line-height:1.5; margin-top:16px;}
@media (max-width:767px){
  .card_item_list{margin-right:0;gap:40px 0;}
  .card_item .img_row{height:197px;}
  .card_item_list > li{flex:0 0 100%;}
  .card_item_list > li.parking{padding:125px 20px;}

  .parking_main_copy{font-size:18px;}
  .parking_sub_copy{margin-top:8px;}
  .card_plate_wrap{padding:0 20px; margin:0 -20px;}
  .card_plate_wrap::-webkit-scrollbar {width:0;display:none;}
  .card_plate_list > li:last-of-type{padding-right:20px;}
}

/* // list */


/* note */
.info_note_wrap{position:relative; margin-top:120px;}
.info_note_wrap:before{display:block;content:'';width:100vw;height:100%;position:absolute;background:#FAFAFA;top:0;left:50%;transform: translateX(-50%);}
.info_note_inner{ padding:40px 0 120px; position:relative;}
.info_note_title_row{margin-bottom:20px;}
.info_note_title{font-size:20px; font-weight:700; color:#151515; line-height:1;}
.info_note_contents{}
.info_note_contents .bullet_list.shape_dot{}
.info_note_contents .bullet_list.shape_dot > li{margin-bottom:12px;}
.info_note_contents .bullet_list.shape_dot > li:last-of-type{margin-bottom:0;}
.info_note_contents .bullet_list .bullet_list.shape_dash{margin-top:5px;}
@media (max-width:767px){
  .info_note_wrap{margin-top:100px;}
}

/* detail */
.detail_ui_group{padding:60px 0 0;}
.detail_top_wrap{text-align: center;}
.detail_main_copy{font-size:24px; color:#151515; font-weight:700;}
.detail_sub_copy{margin-top:16px; font-size:18px; line-height:1.4;}
.detail_dp_wrap{margin:60px 0 80px;}
.swiper.detail_dp_swiper{}
.swiper.detail_dp_swiper .swiper-wrapper{flex-wrap:wrap;width:auto;height:auto; gap:24px; margin-right:-24px;}
.swiper.detail_dp_swiper .swiper-slide{flex:0 0 calc(33.33333% - 24px);}
.detail_dp_swiper .swiper-options{display:none;}
.dp_img{position:relative; border-radius: 12px; overflow:hidden; display:block; height:216px; width:100%;}
.dp_img img{vertical-align: top;position:absolute;top:0;left:0;width:100%; height:100%; object-fit: cover; object-position: 50% 50%;}
.detail_middle_wrap{max-width:792px; margin:0 auto;}
.detail_mid_title_row{border-bottom:1px solid #000; margin-bottom:32px; padding-bottom:12px;}
.detail_mid_title{font-size:24px; color:#151515; font-weight:700;}
.detail_mid_contents{}
.detail_look_wrap{}
.detail_look_list{display:table;width:100%;}
.detail_look_list > li{display:table-row;}
.detail_look_list > li:first-of-type .detail_cell{padding-top:0;}
.detail_look_list > li:last-of-type .detail_cell{border-bottom:0;padding-bottom:0;}
.detail_look_list > li.has_line .detail_cell{border-bottom:1px solid rgba(0,0,0,.05);padding-bottom:35px;}
.detail_look_list > li.has_line + li .detail_cell{padding-top:35px;}
.detail_cell{display:table-cell; padding:16px 0; vertical-align: top; /*border-bottom:1px solid rgba(0,0,0,.05);*/}
.detail_cell.define_th{width:1px;white-space: nowrap;padding-right:110px;}
.detail_cell.define_td{}
.detail_key_node{display:inline-block; font-weight:600; font-size:18px; color:#151515; white-space: nowrap;}
.map_info_para,
.detail_data_node{display:inline-block; font-size:16px; color:#222222;}
.map_info_wrap{}
.map_info_wrap > li{margin-bottom:20px;}
.map_info_wrap > li:last-of-type{margin-bottom:0;}
.map_info_item{}
.map_each_container{display:flex;gap:40px; align-items: center;}
.map_each_container > .liquid{flex:1;}
.map_each_container > .auto{flex:0;}
.map_each_container > .auto .btn_rolebox{}
.map_slice_list{}
.map_slice_list > li{margin-bottom:10px;}
.map_slice_list > li:last-of-type{margin-bottom:0;}
.map_slice_item{display:flex; gap:8px;}
.map_slice_item > .ico{width:20px;height:20px;flex:0 0 20px; background-position: 0 0; background-size:100% auto; background-repeat: no-repeat;}
.map_slice_item > .ico.shape_marker{background-image:url("../images/ico_marker.png");}
.map_slice_item > .ico.shape_call{background-image:url("../images/ico_phone.png");}
.map_slice_item > .text_node{display:inline-block; font-size:16px; color:#222222;}

.map_info_item{}
.map_info_para{margin-bottom:16px;}

.detail_data_node{font-size:16px;}
.detail_data_node + .indent_para_list{margin-top:5px}
.highlight_blue,
.highlight_blue *{color:#3A43BB;}


.card_plate_wrap{}
.card_plate_list{display:flex; flex-wrap:wrap; gap:8px;margin-right:-8px;}
.card_plate_list > li{flex:0 0 calc(50% - 8px);}
.card_plate_item{background:#FAFAFA; padding:12px 20px; display:flex; align-items: center; gap:20px; border-radius: 12px;}
.card_plate_item .img_cols{flex:0 0 83px;}
.card_plate_item .img_cols > img{vertical-align: top;}
.card_plate_item .spec_cols{}
.card_plate_name{display:block; font-size:16px; font-weight:600;}

@media (max-width:767px){
  .detail_ui_group{padding:40px 0 0;}
  .detail_main_copy{font-size:18px;}
  .detail_sub_copy{font-size:16px;}
  .detail_dp_wrap{margin:40px 0 48px;}
  .detail_dp_swiper .swiper-options{display:block;}
  .swiper.detail_dp_swiper{border-radius: 12px; overflow: hidden;}
  .swiper.detail_dp_swiper .swiper-wrapper{flex-wrap:nowrap;width:100%;height:100%; gap:0; margin-right:0;}
  .swiper.detail_dp_swiper .swiper-slide{flex-shrink:0;width:100%; flex-basis: auto;}
  .dp_img{ border-radius: 0;}

  .detail_mid_title{font-size:20px;}
  .detail_mid_title_row{padding-bottom:16px; margin-bottom:20px;}

  .detail_look_list{width:auto;display:block;}
  .detail_look_list > li{display:block;margin-bottom:32px;}
  .detail_look_list > li:last-of-type{margin-bottom:0;}
  .detail_look_list > li.has_line{}
  .detail_look_list > li.has_line .detail_cell{border-bottom:0;padding:0}
  .detail_look_list > li.has_line + li .detail_cell{padding-top:0;}
  .map_info_para, .detail_data_node{font-size:15px;}
  .detail_cell{display:block;}
  .detail_cell.define_th{width:auto; padding:0; margin-bottom:10px;}

  .detail_cell.define_td{padding-top:0;}
  .detail_key_node{white-space: normal; font-size:16px;}

  .detail_look_list > li.has_line{border-bottom:1px solid rgba(0,0,0,.05);padding-bottom:35px}
  

  .map_each_container{flex-direction: column;gap:20px; align-items: normal;}

  .map_each_container > .auto{flex:0 0 100%;}
  .map_each_container > .auto .btn_rolebox{min-height:48px; display:block; min-width:0; text-align: center;}


  .card_plate_wrap{position:relative;overflow-x:auto;}
  .card_plate_list{flex-wrap:nowrap; gap:8px;margin-right:0;}
  .card_plate_list > li{flex:0 0 260px;}
  .card_plate_item{border-radius: 12px;}
  .card_plate_item .img_cols{flex:0 0 64px;}
  .card_plate_item .spec_cols{}
  .card_plate_name{display:block; font-size:16px; font-weight:600;}
}